html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* Downloaded from https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjGv_DV3eDjAhXvUN8KHfMrD-UQjhx6BAgBEAM&url=https%3A%2F%2Fwww.videoblocks.com%2Fvideo%2Fsoccer-field-forming-on-grass-in-cartoon-style-skudrotwzj3ebge1o&psig=AOvVaw1acwjrY5SuF_jVbdFASnUZ&ust=1564716573119475 */
    background-image: url("../image/bkgd/pitch.png");
    background-size: 100%;
}

.size50 {
    font-size: 50px;
}

.pred-title {
    color: white;
    font-size: 40px;
}

.C-00FFFF {
    color: #00FFFF;
}

.C-FF66FF {
    color: #FF66FF;
}

.C-F7DE00 {
    color: #F7DE00;
}

.C-FF9900 {
    color: #FF9900;
}

.C-FF0000 {
    color: #FF0000;
}

.C-00FF00 {
    color: #00FF00;
}

.C-000000 {
    color: #000000;
}

table {
    margin: auto;
    width: 80% !important;
}

td {
    background-color: transparent !important;
    color: black;
    font-size: 30px;
}